# Auto detect text files and perform LF normalization
* text=auto
*.lib filter=lfs diff=lfs merge=lfs -text
Vendor/PhysX/lib filter=lfs diff=lfs merge=lfs -text
Vendor/ filter=lfs diff=lfs merge=lfs -text
